extends layout

block content

  header
    h2= title
  #wrapper
    #subtitle
      h1= subtitle
    #sidebar
      ul
        for link in sidebarLinks
          li: a(href='')= link
        else
          li oops
    main
      #anchors
        p On this page
        ul
          for anchor in anchorLinks
            li: a(href='#')= anchor
          else
            li whoops
      #center
        #intro-paragraph
          - var p0 = content.p0
          p= p0
        for headerText in sectionHeaders
          section
            h2.section-header: span #{headerText}

            - var p1 = content.p1
            p= p1
            - var p2 = content.p2
            p= p2